.alert{
    padding: 12px 14px;
    border-radius: 5px;
    margin: 10px 0;
}

.success{
    background-color: green;
    color: white;
}

.error{
    background-color: red;
    color: white;
}

.warning{
    background-color: yellow;
    color: black;
}

.info{
    background-color: blue;
    color: white;
}